---
---

@import "{{ site.theme }}";
body {
 font-family: "Iowan Old Style", "Sitka Text", Palatino, "Book Antiqua", serif;
}
h3.post-link {
 margin-bottom: 0px;
}
.main-content {
    font-size: 1.00em;
}
